extend layout

block content
	.container
		h1 #{title}
		each article, i in articles
			div.well
				h4
					a(href='/articles/show/'+article._id) #{article.title}
				h5 #{article.author}
				p #{article.body}